<!--這是淺取正方形的版本-->
<html>
<head></head>
<body bgcolor="#fff">
<canvas width="1500" height="800" id="myCanvas2" style="border:auto solid;position:absolute;top:100;left:100;"></canvas>  <!--first law picture-->

<input type="button" id="markpoint" value="ROI MARK">
<input type="button" id="creatpicture" value="切割出圖片">
<input type="button" id="revise" value="修改">

<div id="color" style="width:auto ;height:50px;float:left"></div>
<div id="pointcounter" style="width:auto ;height:50px;float:left"></div>

{% load staticfiles %}

<script>

var drawMode, mx, my;
var bx,by;


// load picture
var img = new Image();
img.src = "{% static 'img/heart.jpg' %}";  //load img
var canvas2 = document.getElementById("myCanvas2"); // 取得物件
var ctx2 = canvas2.getContext("2d"); // 取得繪圖環境 圖片
img.onload = function() {
  ctx2.drawImage(img, 0, 0);
  img.style.display = 'none';
};

//define creatpicture parameter
var start_mark;
var mark_counter;

var mark_matrix = new Array();

//clip




var color = document.getElementById('color');
function pick(event) {
  var x = event.layerX;
  var y = event.layerY;
  var pixel = ctx2.getImageData(x, y, 1, 1);
  var data = pixel.data;
  var rgba = 'rgba(' + data[0] + ',' + data[1] +
             ',' + data[2] + ',' + data[3] + ')';
  color.style.background =  "#fff";
  color.textContent = 'x:'+ x +'y:'+ y + ','+rgba;
}
canvas2.addEventListener('mousemove', pick);

var px=800; // 生成圖片位置x位移
var py=0;//生成圖片位置y位移
var dx; //滑鼠實際位置
var dy; // 滑鼠實際位置
canvas2.onclick = function(ev){
  if(start_mark==1){

    ctx2.save();
    ctx2.beginPath();

    mx = event.clientX - parseInt(canvas2.style.left) + window.pageXOffset;
    my = event.clientY - parseInt(canvas2.style.top) + window.pageYOffset;
    ctx2.moveTo(mx, my);
    mark_matrix.push(mx);
    mark_matrix.push(my);
    mark_counter = mark_counter + 2;
    //pointcounter.textContent =mark_matrix[2];
    ctx2.arc(mx, my, 10, 0, 2*Math.PI);
    ctx2.stroke();
    ctx2.closePath();//結束時自動連回beginpath
  }

/*
    bx = mx;
    by = my;
    drawMode = true;
    */
}

/*canvas2.onmousemove = function(ev){
    if(drawMode){
        mx = event.clientX - parseInt(canvas2.style.left) + window.pageXOffset;
        my = event.clientY - parseInt(canvas2.style.top) + window.pageYOffset;
        ctx2.lineTo(mx, my);
        //ctx2.arc(mx, my, 10, 0, 2*Math.PI);
        ctx2.stroke();
    }
}
*/
/*
canvas2.onmouseup = function(){
  ctx2.closePath();//結束時自動連回beginpath
  ctx2.stroke();

    drawMode = false;
}
*/
/*canvas2.onclick = function(){


  ctx2.clip();
  ctx2.drawImage(img,px,py);
  ctx2.restore();

}
*/

document.getElementById("markpoint").onclick = function(){
  start_mark = 1;
  mark_counter = 0;
  mark_matrix= [];
  ctx2.strokeStyle = "#00f";
  ctx2.lineWidth = 1;

}
document.getElementById("creatpicture").onclick = function(){
  start_mark = 0;
  ctx2.save();
  ctx2.beginPath();
  ctx2.moveTo(mark_matrix[0], mark_matrix[1]);
  for (i = 0; i < mark_matrix.length; i+=2) {


    ctx2.lineTo(mark_matrix[i], mark_matrix[i+1]); //劃出全部點
  }
  ctx2.closePath();//結束時自動連回beginpath
  ctx2.stroke();
  ctx2.clip();
  ctx2.drawImage(img,px,py);
  ctx2.restore();

}





</script>

</body></html>
