<!--這是淺取正方形的版本-->
<html>
<head></head>
<body bgcolor="#fff">
<canvas width="1500" height="800" id="myCanvas2" style="border:auto solid;position:absolute;top:100;left:100;"></canvas>  <!--first law picture-->

<input type="button" id="markpoint" value="ROI MARK">
<input type="button" id="creatpicture" value="切割出圖片">
<input type="button" id="scanpicture" value="讀取圖片座標">

<div id="color" style="width:auto ;height:50px;float:left"></div>
<div id="pointcounter" style="width:auto ;height:50px;float:left"></div>
<p id="demo3"></p>
<p id="demo"></p>
{% load staticfiles %}

<script>

var mx,my;
var bx,by;


// load picture
var img = new Image();
img.src = "{% static 'img/newheart.png' %}";  //load img
var canvas2 = document.getElementById("myCanvas2"); // 取得物件
var ctx2 = canvas2.getContext("2d"); // 取得繪圖環境 圖片
img.onload = function() {
  ctx2.drawImage(img, 0, 0);
  img.style.display = 'none';
};

//define creatpicture parameter
var start_mark;
var mark_counter;

var mark_matrix = new Array();

//clip




var color = document.getElementById('color');
function pick(event) {
  var x =  event.clientX - parseInt(canvas2.style.left) + window.pageXOffset;
  var y = event.clientY - parseInt(canvas2.style.top) + window.pageYOffset;
  var pixel = ctx2.getImageData(x, y, 1, 1);
  var data = pixel.data;
  var rgba = 'rgba(' + data[0] + ',' + data[1] +
             ',' + data[2] + ',' + data[3] + ')';
  color.style.background =  "#fff";
  color.textContent = 'x:'+ x +'y:'+ y + ','+rgba;
}
canvas2.addEventListener('mousemove', pick);

var px=800; // 生成圖片位置x位移
var py=0;//生成圖片位置y位移

canvas2.onclick = function(ev){
  if(start_mark==1){

    ctx2.save();
    ctx2.beginPath();

    mx = event.clientX - parseInt(canvas2.style.left) + window.pageXOffset;
    my = event.clientY - parseInt(canvas2.style.top) + window.pageYOffset;
    ctx2.moveTo(mx, my);
    mark_matrix.push(mx);
    mark_matrix.push(my);
    mark_counter = mark_counter + 2;
    //pointcounter.textContent =mark_matrix[2];
    ctx2.arc(mx, my, 1, 0, 2*Math.PI);
    ctx2.stroke();
    ctx2.closePath();//結束時自動連回beginpath
  }


}


document.getElementById("markpoint").onclick = function(){
  start_mark = 1;
  mark_counter = 0;
  mark_matrix= []; //存點
  ctx2.strokeStyle = "#00f";
  ctx2.lineWidth = 1;

}
document.getElementById("creatpicture").onclick = function(){
  start_mark = 0;
  ctx2.save();
  ctx2.beginPath();
  ctx2.moveTo(mark_matrix[0]+px, mark_matrix[1]+py);
  for (i = 0; i < mark_matrix.length; i+=2) {


    ctx2.lineTo(mark_matrix[i]+px, mark_matrix[i+1]+py); //劃出全部點
  }
  ctx2.closePath();//結束時自動連回beginpath
  ctx2.stroke();
  ctx2.clip();
  ctx2.drawImage(img,px,py);
  ctx2.restore();

}
//讀取有顏色座標並標記位置
var imageindex;
var mask_x,maxk_y;//暫時存取mask位置
var mask_coordinate_matrix = new Array();

document.getElementById("scanpicture").onclick = function(){
  var imgData = ctx2.getImageData(800, 0, canvas2.width-800, canvas2.height);
  for (imageindex=0;imageindex<imgData.data.length;imageindex+=4)
  {

    if (imgData.data[imageindex]!==0||imgData.data[imageindex+1]!==0||imgData.data[imageindex+2]!==0)
      {
        mask_x = (imageindex/4)-(canvas2.width-800) * Math.floor(imageindex/4/(canvas2.width-800))+1;//martix 維度轉換處理需要再加強
        mask_y = Math.floor(imageindex/4/700)+1;
        mask_coordinate_matrix.push(mask_x);
        mask_coordinate_matrix.push(mask_y);
      }

  }

  //ctx2.putImageData(imgData,800,0);
      mask_coordinate_matrix.toString();
      document.getElementById("demo").innerHTML = mask_coordinate_matrix;
      mark_matrix.toString();
      document.getElementById("demo3").innerHTML = mark_matrix;






      //繪出mask area
      for (it = 0; it < mask_coordinate_matrix.length; it+=2) {

        ctx2.save();
        ctx2.beginPath();
        ctx2.arc(mask_coordinate_matrix[it], mask_coordinate_matrix[it+1], 1, 0, 2*Math.PI);
        ctx2.stroke();
          ctx2.closePath();//結束時自動連回beginpath
      }






}






</script>

</body></html>
