<!--這是淺取正方形的版本-->
<html>
<head></head>
<body bgcolor="#fff">
<canvas width="800" height="800" id="myCanvas2" style="border:auto solid;position:absolute;top:100;left:100;"></canvas>  <!--first law picture-->

<input type="button" id="save" value="在新視窗開啟圖片">

<div id="color" style="width:auto ;height:50px;float:left"></div>


{% load staticfiles %}

<script>

var drawMode, mx, my;



var img = new Image();
img.src = "{% static 'img/test.jpg' %}";  //load img
var canvas2 = document.getElementById("myCanvas2"); // 取得物件
var ctx2 = canvas2.getContext("2d"); // 取得繪圖環境 圖片
img.onload = function() {
  ctx2.drawImage(img, 0, 0);
  img.style.display = 'none';
};



//clip
function clipImage(image,clipX,clipY,clipWidth,clipHeight){

    // draw the image to the canvas
    // clip from the [clipX,clipY] position of the source image
    // the clipped portion will be clipWidth x clipHeight
    ctx2.drawImage(image,clipX,clipY,clipWidth,clipHeight,
                    0,0,clipWidth,clipHeight);

    var clippedImg=document.getElementById("clipped");
    clippedImg.src=canvas.toDataURL();

}





var color = document.getElementById('color');
function pick(event) {
  var x = event.layerX;
  var y = event.layerY;
  var pixel = ctx2.getImageData(x, y, 1, 1);
  var data = pixel.data;
  var rgba = 'rgba(' + data[0] + ',' + data[1] +
             ',' + data[2] + ',' + data[3] + ')';
  color.style.background =  "#fff";
  color.textContent = 'x:'+ x +'y:'+ y + ','+rgba;
}
canvas2.addEventListener('mousemove', pick);



canvas2.onmousedown = function(ev){
    ctx2.beginPath();
    ctx2.strokeStyle = "#00f";
    ctx2.lineWidth = 1;
    mx = event.clientX - parseInt(canvas2.style.left) + window.pageXOffset;
    my = event.clientY - parseInt(canvas2.style.top) + window.pageYOffset;
    ctx2.moveTo(mx, my);

    drawMode = true;
}

canvas2.onmousemove = function(ev){
    if(drawMode){
        mx = event.clientX - parseInt(canvas2.style.left) + window.pageXOffset;
        my = event.clientY - parseInt(canvas2.style.top) + window.pageYOffset;
        ctx2.lineTo(mx, my);
        ctx2.stroke();
    }
}

canvas2.onmouseup = function(){
  //ctx2.closePath();//結束時自動連回beginpath
  ctx2.fillStyle ="rgba(0,0,255,0.2)"
  ctx2.fill();  //結束時自動填滿封閉路徑


    drawMode = false;
}

document.getElementById("save").onclick = function(){
    ctx2.globalCompositeOperation="destination-in";
    clipImage(img,mx,my,500,700);

    window.open(ctx2.canvas.toDataURL('img/png'));
}

//???





</script>

</body></html>
